<div class="vh-100 overflow-hidden urlbased">
    <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
        <div class="container">
            <a class="navbar-brand fs-4" href="#">Tags</a>
            <button class="navbar-toggler shadow-none border-0" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end sidebar" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <!-- Sidebar header -->
                <div class="offcanvas-header text-white border-bottom">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Tags</h5>
                    <button type="button" class="btn-close btn-close-white shadow-none" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <!-- Sidebar Body -->
                <div class="offcanvas-body d-flex flex-column flex-lg-row p-4 p-lg-0">
                    <ul class="navbar-nav justify-content-center align-items-center fs-5 flex-grow-1 pe-3">
                        <li class="nav-item mx-2">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link" href="#">Shop</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link" href="profile">FAQ</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link" href="#">About us</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                    </ul>
                    <!-- Login/Signup -->
                    <div class="d-flex justify-content-center align-items-center  flex-lg-row gap-3 flex-column">
                        <a class="nav-link text-white" [routerLink]="['/login']" routerLinkActive="router-link-active" *ngIf="!authService.isLoggedIn()">Login</a>
                        <a href="#signup" class="text-white text-decoration-none px-3 py-1 rounded-4 signup_cl"
                            style="background-color: rgb(219, 20, 20)" *ngIf="!authService.isLoggedIn()">Signup</a>
                    </div>
                    <div class="d-flex justify-content-center align-items-center  flex-lg-row gap-3 flex-column" >
                        <!-- <a class="nav-link text-white" [routerLink]="['/login']" routerLinkActive="router-link-active"></a> -->
                        <a href="/" class="text-white text-decoration-none px-3 py-1 rounded-4 signup_cl"
                            style="background-color: rgb(219, 20, 20)" *ngIf="authService.isLoggedIn()" (click)="onLogout()">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
<div class="main-body">
    <!-- <div *ngIf="loading" class="loading-container flex-content-center">
        <div class="loader"></div>
    </div> -->
    <router-outlet></router-outlet>
</div>