.square{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.row{
    padding: 5px 5px 5px 5px;
}

.center-text{
    text-align: center;
}

.label-text{
    font-weight: bold;
}

fieldset {
    background-color: #eeeeee;
  }
  
  legend {
    background-color: gray;
    color: white;
    padding: 5px 10px;
  }
  
  input {
    margin: 5px;
  }
