<div class="container profile">
    <form method="post">
        <div class="row">
            <img class="square" src="https://e7.pngegg.com/pngimages/799/987/png-clipart-computer-icons-avatar-icon-design-avatar-heroes-computer-wallpaper-thumbnail.png" alt="">
        </div>
        <div class="row">
            <h2 class="center-text">{{userObj.data.firstName}} {{userObj.data.lastName}}</h2>
        </div>
        <div class="row">
            <p class="center-text">27 Years and 15 days old</p>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-header">
                  Personal Information
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <label class="label-text">First Name: </label>
                            <label>{{userObj.data.firstName}}</label>
                        </div>
                        <div class="col-md-4">
                            <label class="label-text">Middle Name: </label>
                            <label>{{userObj.data.middleName}}</label>
                        </div>
                        <div class="col-md-4">
                            <label class="label-text">Last Name: </label>
                            <label>{{userObj.data.lastName}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="label-text">Phone: </label>
                            <label>{{userObj.data.phone}}</label>
                        </div>
                        <div class="col-md-4">
                            <label class="label-text">Email: </label>
                            <label>{{userObj.data.email}}</label>
                        </div>
                        <div class="col-md-4">
                            <label class="label-text">Blood Group: </label>
                            <label>{{userObj.data.bloodGroup}}</label>
                        </div>
                    </div>
                </div>
              </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-header">
                  Emergency Contacts
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <label class="label-text">First Name: </label>
                            <label>{{userObj.data.firstName}}</label>
                        </div>
                        <div class="col-md-4">
                            <label class="label-text">Middle Name: </label>
                            <label>{{userObj.data.middleName}}</label>
                        </div>
                        <div class="col-md-4">
                            <label class="label-text">Last Name: </label>
                            <label>{{userObj.data.lastName}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="label-text">Phone: </label>
                            <label>{{userObj.data.phone}}</label>
                        </div>
                        <div class="col-md-4">
                            <label class="label-text">Email: </label>
                            <label>{{userObj.data.email}}</label>
                        </div>
                        <div class="col-md-4">
                            <label class="label-text">Blood Group: </label>
                            <label>{{userObj.data.bloodGroup}}</label>
                        </div>
                    </div>
                </div>
              </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-header">
                  Address
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <label class="label-text">First Name: </label>
                            <label>{{userObj.data.firstName}}</label>
                        </div>
                        <div class="col-md-4">
                            <label class="label-text">Middle Name: </label>
                            <label>{{userObj.data.middleName}}</label>
                        </div>
                        <div class="col-md-4">
                            <label class="label-text">Last Name: </label>
                            <label>{{userObj.data.lastName}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="label-text">Phone: </label>
                            <label>{{userObj.data.phone}}</label>
                        </div>
                        <div class="col-md-4">
                            <label class="label-text">Email: </label>
                            <label>{{userObj.data.email}}</label>
                        </div>
                        <div class="col-md-4">
                            <label class="label-text">Blood Group: </label>
                            <label>{{userObj.data.bloodGroup}}</label>
                        </div>
                    </div>
                </div>
              </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-header">
                  Allergies
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <label class="label-text">First Name: </label>
                            <label>{{userObj.data.firstName}}</label>
                        </div>
                        <div class="col-md-4">
                            <label class="label-text">Middle Name: </label>
                            <label>{{userObj.data.middleName}}</label>
                        </div>
                        <div class="col-md-4">
                            <label class="label-text">Last Name: </label>
                            <label>{{userObj.data.lastName}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="label-text">Phone: </label>
                            <label>{{userObj.data.phone}}</label>
                        </div>
                        <div class="col-md-4">
                            <label class="label-text">Email: </label>
                            <label>{{userObj.data.email}}</label>
                        </div>
                        <div class="col-md-4">
                            <label class="label-text">Blood Group: </label>
                            <label>{{userObj.data.bloodGroup}}</label>
                        </div>
                    </div>
                </div>
              </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-header">
                  Medication
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <label class="label-text">First Name: </label>
                            <label>{{userObj.data.firstName}}</label>
                        </div>
                        <div class="col-md-4">
                            <label class="label-text">Middle Name: </label>
                            <label>{{userObj.data.middleName}}</label>
                        </div>
                        <div class="col-md-4">
                            <label class="label-text">Last Name: </label>
                            <label>{{userObj.data.lastName}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="label-text">Phone: </label>
                            <label>{{userObj.data.phone}}</label>
                        </div>
                        <div class="col-md-4">
                            <label class="label-text">Email: </label>
                            <label>{{userObj.data.email}}</label>
                        </div>
                        <div class="col-md-4">
                            <label class="label-text">Blood Group: </label>
                            <label>{{userObj.data.bloodGroup}}</label>
                        </div>
                    </div>
                </div>
              </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-header">
                  Health Insurance
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <label class="label-text">First Name: </label>
                            <label>{{userObj.data.firstName}}</label>
                        </div>
                        <div class="col-md-4">
                            <label class="label-text">Middle Name: </label>
                            <label>{{userObj.data.middleName}}</label>
                        </div>
                        <div class="col-md-4">
                            <label class="label-text">Last Name: </label>
                            <label>{{userObj.data.lastName}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="label-text">Phone: </label>
                            <label>{{userObj.data.phone}}</label>
                        </div>
                        <div class="col-md-4">
                            <label class="label-text">Email: </label>
                            <label>{{userObj.data.email}}</label>
                        </div>
                        <div class="col-md-4">
                            <label class="label-text">Blood Group: </label>
                            <label>{{userObj.data.bloodGroup}}</label>
                        </div>
                    </div>
                </div>
              </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-header">
                  Vital Medical Conditions
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <label class="label-text">First Name: </label>
                            <label>{{userObj.data.firstName}}</label>
                        </div>
                        <div class="col-md-4">
                            <label class="label-text">Middle Name: </label>
                            <label>{{userObj.data.middleName}}</label>
                        </div>
                        <div class="col-md-4">
                            <label class="label-text">Last Name: </label>
                            <label>{{userObj.data.lastName}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="label-text">Phone: </label>
                            <label>{{userObj.data.phone}}</label>
                        </div>
                        <div class="col-md-4">
                            <label class="label-text">Email: </label>
                            <label>{{userObj.data.email}}</label>
                        </div>
                        <div class="col-md-4">
                            <label class="label-text">Blood Group: </label>
                            <label>{{userObj.data.bloodGroup}}</label>
                        </div>
                    </div>
                </div>
              </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-header">
                  Nearby Emergency Services
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <label class="label-text">First Name: </label>
                            <label>{{userObj.data.firstName}}</label>
                        </div>
                        <div class="col-md-4">
                            <label class="label-text">Middle Name: </label>
                            <label>{{userObj.data.middleName}}</label>
                        </div>
                        <div class="col-md-4">
                            <label class="label-text">Last Name: </label>
                            <label>{{userObj.data.lastName}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="label-text">Phone: </label>
                            <label>{{userObj.data.phone}}</label>
                        </div>
                        <div class="col-md-4">
                            <label class="label-text">Email: </label>
                            <label>{{userObj.data.email}}</label>
                        </div>
                        <div class="col-md-4">
                            <label class="label-text">Blood Group: </label>
                            <label>{{userObj.data.bloodGroup}}</label>
                        </div>
                    </div>
                </div>
              </div>
        </div>
    </form>           
</div>