<div class="container profile">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <img class="square" src="https://e7.pngegg.com/pngimages/799/987/png-clipart-computer-icons-avatar-icon-design-avatar-heroes-computer-wallpaper-thumbnail.png" alt="">
        </div>
        <div class="row">
            <h2 class="center-text">{{userObj.firstName}} {{userObj.lastName}}</h2>
        </div>
        <div class="row">
            <p class="center-text">27 Years and 15 days old</p>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-header">
                  Personal Information
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <label class="label-text">First Name: </label>
                            <input class="input-text" formControlName="firstName" >
                        </div>
                        <div class="col-md-4">
                            <label class="label-text">Middle Name: </label>
                            <input class="input-text" formControlName="middleName" >
                        </div>
                        <div class="col-md-4">
                            <label class="label-text">Last Name: </label>
                            <input class="input-text" formControlName="lastName" >
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="label-text">Phone: </label>
                            <input class="input-text" formControlName="phone" >
                        </div>
                        <div class="col-md-4">
                            <label class="label-text">Email: </label>
                            <input class="input-text" formControlName="email" >
                            <p *ngIf="email?.invalid && (email?.dirty || email?.touched)">
                                Please provide a valid email address.
                            </p>
                        </div>
                        <div class="col-md-4">
                            <label class="label-text">Blood Group: </label>
                            <input class="input-text" formControlName="bloodGroup" >
                        </div>
                    </div>
                </div>
              </div>
        </div>
        <div class="row">
            <button type="submit" [disabled]="userForm.invalid">Submit</button>
        </div>
    </form>           
</div>